html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: dimgray
}

h1 {

}

#map {
    position: relative;
}

#row {
    display: flex;
}

#row > div {
    height: 50px;
    width: 50px;
}

#player {
    height: 50px;
    width: 50px;
    /* background-color: gold; */
    background: url(img/knight-exp.png);
    position: absolute;
}

div[data-type = 'start'] {
    background-color: lime;
}

div[data-type = 'wall'] {
    background: url(img/lava.png);
}

div[data-type = 'finish'] {
    background-color: red;
}

div[data-type = 'empty'] {
    background: url(img/rock.png);
}
