body {
    background-color: black;
    display: flex;
}

.title {
    width: 200px;
}

#text-map {
    max-width: 175px;
    /* width: 200px; */
    max-height: 400px;
}

h1 {
    color: white;
    font-size: 40px;
}

h3, p {
    color: white;
}

#map {
    position: relative;
    /* height: 750px; */
    /* width: 950px; */
    margin: 10px;
}

#row {
    display: flex;
}

#row > div {
    height: 50px;
    width: 50px;
}

#player {
    height: 50px;
    width: 50px;
    /* background-color: gold; */
    background: url(img/knight-exp.png);
    position: absolute;
}

div[data-type = 'start'] {
    background-color: lime;
}

div[data-type = 'wall'] {
    background: url(img/lava.png);
}

div[data-type = 'finish'] {
    background-color: red;
}

div[data-type = 'empty'] {
    background: url(img/rock.png);
}
